$color1 : #222629;
$color2 : #474B4F;
$color3 : #6B6E70;
$color4: #61892F;
$color5: #86C232;
$color6: white;
$color7: black;

.billing-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}

.billing-item p {
    text-align: center;
    color: $color6;
    text-transform: uppercase
    
}



.billing-modal-head-sec2 {
    font-size: 25px;
    text-align: center;

}

.billing-modal-head-sec1 {
    font-size: 20px;
}

.modal-buttons-billing{
    
    display: flex;
    right:0;
    position: absolute;
    bottom: 1px;
        
}