.billing-view-top-menu {
    padding-top: 25px;
    padding-bottom: 25px;
    display:flex;
    justify-content: flex-end; 
}

.upload-buttons-div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.invoice-modal-buttons {
    display: flex;
    justify-content: space-between
}