.billing-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}

.billing-item p {
    text-align: center;
    color: #F3FFE2;
    
}



.billing-modal-head-sec2 {
    font-size: 25px;
    text-align: center;

}

.billing-modal-head-sec1 {
    font-size: 20px;
}

.modal-buttons-billing{
    
    display: flex;
    right:0;
    position: absolute;
    bottom: 1px;
        
}