.billing-view-top-menu {
    padding-top: 25px;
    padding-bottom: 25px;
    display:flex;
    justify-content: flex-end; 
}

.upload-buttons-div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.invoice-modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between
}

.top-select-field-email {
    display : flex;
    justify-content: space-between
}

.email-modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.dropzone-div {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

