.billing-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}

.billing-item p {
    text-align: center;
    // color: #225378;
    // color: #ACF0F2;
    color: #F3FFE2;
    
}

