
.floating-action{
    position: fixed;
    z-index: 1;
}


.card-mid-section {
 display: flex;
 justify-content: space-between;
 margin-right: 20px;
}

.client-edit-button-div {
    margin-top: 20px;
    margin-right: 20px;
    padding-bottom:20px;
    display: flex;
    justify-content: flex-end;
}

.client-list-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 30px
}
