$menuWidth: 200px;
$padding: 10px;
$margin: 40px;
$width: calc(100vw - #{$menuWidth});

.menu-section {
    width: $menuWidth;
}

.dashboard-container { 
    width: $width;
    margin-left: $menuWidth;
    padding-left: $padding;
    padding-right: $padding;
}

.header-bar{
    margin-bottom: $margin;    
}