$margin: 15px;
$padding: 15px;
$height: 60px;
$button-margin: 20px;
$font-size: 15px;
$color1: #222629;
$color2: #474B4F;
$color3: #6B6E70;
$color4: #61892F;
$color5: #86C232;
$color6: white;
$color7: black;
.enteries-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: $padding;
    padding-right: $padding;
    margin-top: $margin;
    margin-bottom: $margin;
    height: $height;
}


.enteries-container p {
    font-size: $font-size;
    color: $color6;
    text-align: center;
    text-transform: uppercase;
}

.entries-edit-button {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.entries-edit-modal h1 {
    color: $color5;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.entries-edit-modal h2 {
    color: $color6;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.entry-form-buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}