$box-borders : 2px black solid;

.user-contact-info {
    border : $box-borders
}

.invoice-info {
    border : $box-borders
}
.client-info {
    border : $box-borders
}

.total-box {
    border: $box-borders
}

.remit {
    border: $box-borders
}

