$h1-size: 40px;
$opacity: 1;
$floating-action-pos: 15px;
$height: 70px;
$padding: 15px;
$color1 : #222629;
$color2 : #474B4F;
$color3 : #6B6E70;
$color4: #61892F;
$color5: #86C232;
$color6: white;
$color7: black;

.clockedIn h1 {
    font-size: $h1-size;
    text-align: center;
    color : $color5;
    font-weight: 900;
}

.clockedIn {
    border : solid 1px $color5;
    padding-top: $padding;
    background : $color7;
    margin-bottom : 10px;
    height : $height;
}

.clockedOut h1 {
    font-size: $h1-size;
    text-align: center;
    color : $color1;
    font-weight: 900;
}

.clockedOut {
    border : 1px solid $color1;
    padding-top: $padding;
    background: $color6;
    height : $height;
}

.floating-action {
    position : fixed;
    bottom: $floating-action-pos;
    right: $floating-action-pos;
}


