$margin: 15px;
$padding: 15px;
$height: 60px;
$button-margin: 20px;
$font-size: 20px;

$color1 : #225378;
$color2 : #1695A3;
$color3 : #ACF0F2;
$color4: #F3FFE2;
$color5: #EB7F00;

.single-job-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: $padding;
    padding-right: $padding;
    margin-top: $margin;
    margin-bottom: $margin;
    height: $height;
    
}

.job-button {
    margin-left: $button-margin;
}


.single-job-container p {
    border : 1px red solid;
}

.single-job-container {
    border : 2px yellow solid;
}

.job-enteries-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: $color5;
    font-weight: 600;
}

.job-entry-modal-entries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    background-color: $color1;
    color: $color4;
    margin-bottom: 10px;
}

