$h1-size: 40px;
$opacity: 1;
$clockIn-back : rgb(22, 149, 163);
$clockOut-back : rgb(22, 149, 163);
$floating-action-pos: 15px;
$font-color: black;
$height: 70px;
$padding: 15px;
$border-color : #ACF0F2;

h1 {
    font-size: $h1-size;
    text-align: center;
    color : $font-color;
    font-weight: 900;
}

.clockedIn {
    border-color: $border-color;
    border : 1px solid;
    padding-top: $padding;
    background : rgba($clockIn-back, $opacity);
    margin-bottom : 10px;
    height : $height;
}



.clockedOut {
    border-color: $border-color;
    border : 1px solid;
    padding-top: $padding;
    background: rgba($clockOut-back, $opacity);
    height : $height;
    
}

.floating-action {
    position : absolute;
    bottom: $floating-action-pos;
    right: $floating-action-pos;
}

