.link {
  text-decoration: none;
}

.menu {
  background-color: #225378;
}

.avatar-container {
  margin-top: 10px;
  text-align: center;

}

.avatar-container p {
  color: #f3ffe2;
}

.menu-items {
  color: #f3ffe2;
}
